.landingpage{
        background-image: url("../images//h_img.jpg");  
         background-position:fixed;
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        color: white;
        text-align: center;
        padding-bottom:10%;
        font-family: 'Gabriela', serif;  
        padding-top:17%;
        border:0;
        font-size:10px; 
}

h1{
    padding-top:2%;
}
p{
    font-size:15px;
}
.container-about {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 40px;
}
.container-services{
    background-image:url("../images/s_image\ \(1\).jpg");
    background-position:cover;
    width:100%;
    text-align:center;
    color:white;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 40px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
h5{
    margin-left:45%;
}
.container{
    text-align:center;
    margin-top:3%;

}
.container  p{
    display:none;
}
.title1{
    display:none;
}
    
}

 
    
    
    



